<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NumberPlateScanner">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name="com.NumberPlateScanner.base.ScannerActivity"></activity>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
